<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type" content="website">
<meta content="drmineword.js" property="og:title" />
<meta content="temponary" property="og:description" />
<meta content="https://raw.githubusercontent.com/DrMineword/databasd_and_randomthings_wscd/refs/heads/main/corp_data/def/speech-speech-bubble.gif" property="og:image" />
<meta content="#334fff" data-react-helmet="true" name="theme-color" />


    <meta name="twitter:card" content="summary_large_image">
</head>
<body>
    {{ content }}
</body>
</html>
